{# Password reset page #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n utils %}
{% block body_classes %}password-reset{% endblock %}

{% block page_html_title %}
    {% trans 'Password reset' as title %}
    {{ title }}
{% endblock %}

{# Content #}
{% block main %}
    {% trans 'Password reset' as title %}
    <div class="narrow-container centered-block">
        {% include 'pages/pagetitle.html' with title=title classes="centered" %}
        <div class="instructions--password-reset ">
            {% blocktrans trimmed %}
                If you forgot your password introduce your email and you'll receive
                instructions to get a new one.
            {% endblocktrans %}
        </div>
        {% include 'forms/simpleform.html' with form_title="Login" form=form form_class="login" submit_text=title %}
    </div>
{% endblock %}
