// Trigger for navigation

#show-navigation
  +inline-block
  margin-top: $m/2
  margin-right: $m
  float: right
  .hamburguer-icon
    +hamburguer-icon($m, $color_text)
    &:hover
      cursor: pointer
