// OOCSS classes

.container-fixed
  +container_fixed
  position: relative

.container-fluid
  +container_fluid
  position: relative

.narrow-container
  width: $m*20
  max-width: 100%
  padding: 0 $m

.clearfix
  +clearfix

.centered-block
  margin-left: auto
  margin-right: auto

=label
  font-size: .8em
  text-transform: uppercase
  letter-spacing: 1px
