{# Script to filter municipalities by country #}
{% load l10n %}

<script type="text/javascript">

/**
 *  Filters municipalities grid view by selected country  
 */
var filter_municipalities_by_country = function(e)
{
    var f = e.value;
    var municipalities = document.querySelectorAll('.municipalities-item');
    if( f !== 'ALL'){
        municipalities.forEach(function(item) { item.style.display = 'none'; });
        municipalities = document.querySelectorAll('.municipalities-item.' + e.value);
    }
    municipalities.forEach(function(item) { item.style.display = 'block'; });
}

</script>
