{# Municipality detail page #} {% extends 'layouts/single-fluid-column.html' %}
{% load i18n static imagekit %}
{% block body_classes %}municipality-detail{% endblock %}

{% block page_html_title %}
    {{ object.name }}
{% endblock %}

{% block main %}
    <div class="municipality-budgets">
        <div class="municipality-budgets__content">
            <p class="municipality-budgets__legend"></p>
            <svg id="municipality-visualizations"></svg>
            <p class="municipality-budgets__auxiliar">
                Click on any rectangle to go back.
            </p>
            <p class="municipality-budgets__description">
                This visualization shows the budget allocation of {{ object.name }} using COFOG budget classification. Click the concepts for further information.
            </p>
        </div>
    </div>
    <h1 class="municipality__name">
        {{ object.name }}
    </h1>
    <p class="municipality__description">
        {% thumbnail '100x100' object.image %}
        {% lorem %} (a summary about the municipality)
    </p>
    <p class="municipality__description">
        And here we start explaining facts, data and other things in a narrative and playful way.
    </p>
{% endblock %}

{% block page_scripts %}
    <!-- Load D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Load visualizations -->
    <script type="text/javascript">
      {% include 'scripts/settings.js' %}
      {% include 'scripts/municipality-visualizations.js' %}
    </script>
{% endblock %}
