{# Municipality detail page #} {% extends 'layouts/single-fixed-with-header.html' %}
{% load i18n utils static leaflet_tags countries %}

{% block body_classes %}municipality-list{% endblock %}

{% block page_header %}
    {% leaflet_css %}
{% endblock %}

{% block page_html_title %}
    {% trans 'Municipalities' as title %}
    {{ title }}
{% endblock %}

{% block content_header %}
    {% leaflet_map "municipalities_map" %}
{% endblock %}

{% block main %}
    {% trans 'Explore' as title %}
    {% include 'pages/pagetitle.html' with title=title %}
    <div class="municipalities-filters">
        <div class="municipalities-filter">
            <label class="municipalities-filter__label">
                {% trans 'Filter by country' %}
            </label>
            <select id="country-filter" class="municipalities-filter__select"
                    onchange="filter_municipalities_by_country(this)">
                <option value="ALL" selected="selected">
                    {% trans 'See all' %}
                </option>
                {% for country in current_countries %}
                    {% get_country country.country as c %}
                    <option value="{{ country.country }}">
                        {{ c.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="municipalities-view">
        {% for item in object_list %}
        <a class="municipalities-item-link" href="{% url 'municipality-detail' item.slug %}">
            <div class="municipalities-item {{ item.country }}">
                <figure class="municipalities-image">
                    <img src="{{ item.image.url }}" />
                </figure>
                <p class="municipalities-country">
                    {% get_country item.country as c %}
                    {{ c.name }}
                </p>
                <h3 class="municipalities-name">
                    {{ item.name }}
                </h3>
                <p class="municipalities-name">
                {% if item.description %}
                    {{ item.name }}
                {% else %}
                    {% lorem %}
                {% endif %}
                </p>
                <p class="municipalities-see-more">
                      {% trans 'See more' %}
                </p>
            </div>
        </a>
        {% empty %}
        <div class="no-results--municipalities">
            {% blocktrans trimmed %}
            There're no contents created yet.
            {% endblocktrans %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block page_scripts %}
    {% leaflet_js %}
    {% include 'scripts/municipalities.html' with municipalities=object_list %}
{% endblock %}
